<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view ref="index" @show="flowCoordinate($event)"></router-view>
    <modal @delete="removeCoordinate($event)" :coordinate="coordinateInfo" v-if="showModal" @close="showModal = false">
  </div>
</div>

<%= javascript_pack_tag 'coordinate' %>
