<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view @show="showModal = true"></router-view>
    <modal v-if="showModal" @close="showModal = false">
  </div>
</div>

<%= javascript_pack_tag 'coordinate' %>
