.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/closet-912694_1920.jpg");
  background-size: cover;
  &__wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.app-title {
  font-family: 'Courier New';
  font-weight: bold;
}

.user-form {
  background-color: rgba(255, 255, 255, 0.5);
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
