.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/closet-912694_1920.jpg");
  background-size: cover;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
